.flex__container{
    margin: 3rem;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media screen and (min-width: $desktop){
        margin: 7rem 13%;
        padding: 1rem 4rem;
        flex-direction: row-reverse;
    }

    @media screen and (min-width: $desktop2){
        margin: 5rem 15%;
        padding: 2rem 4rem;
    }
}
