.item__images {
  .illustrative__image {
    width: 90%;
    margin: 1rem;
  }

  .sample__images {
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-evenly;

    .small__sample {
      height: 2.5rem;
    }
  }
}
