.item__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .illustrative__image {
    width: 18rem;

    @media screen and (min-width: $avobe768) {
      width: 25rem;
    }

    @media screen and (min-width: $avobe1024) {
      width: 23rem;
    }

    @media screen and (min-width: $avobe1600) {
      width: 25rem;
    }
  }

  .sample__images {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;

    @media screen and (min-width: $avobe768) {
      width: 70%;
    }
    .small__sample {
      width: 3rem;
    }
  }
}
