.item__info{
    margin-top: 2rem;

    @media screen and (min-width: $desktop2){
     margin: 2rem 4rem 0 0;
       
    }
    .item__text{
        .item__title{
            margin-bottom: 1.7rem;
            font-weight: lighter;
        }
        .item__description{
            .item_paragraph{
                margin-top: 1rem;
                font-size: $small;
            }
        }
    }
}