// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Noto Sans', sans-serif;

// Fonts size
$large: 36px;
$medium: 16px;
$small: 14px;

// Colors
$white: #FFFFFF;
$black: #666666;
$gray: #CCCCCC;
$lightBlue: #88C9F6;
$blue: #5A90BC;
$box-shadow: 0px 2px 8px #00000029;

// Media queries
$avobe768: 768px;
$avobe1024: 1024px;
$avobe1240: 1240px;
$avobe1600: 1600px;